/***********************************
*   -- Overall Document
*/

* {
	padding: 0px; 
	margin: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	font-size: 11px;
	font-family: "Lucida Grande", Arial;			
}

body {
	overflow: hidden;
	//background-color: #5F6D7E;
	background-image: url(images/linen.jpg);
	//background-image: -webkit-linear-gradient(bottom, #444B58 0%, #A9BCDB 95%);
	//background-image: url(images/blue-bg.png);
	//background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAASElEQVQIW2MsKq3+z8bGzvDr108GEPjy6QODkIg4A2NFddN/mCBIAqTo3ZuXDIxp6dn/efgEwKqRdTKCjIJpR9YJloBpR9YJALzhI+c9hccRAAAAAElFTkSuQmCC);
}

a {
	color: #3379B8 !important;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button, input[type=button] {
	vertical-align: center;
}

/***********************************
*   -- Document Structure
*/

#app-head {
		position: absolute;
		z-index: 3;
		display: block; 
		left: 0px;
		right: 0px;
		height: 77px;
		box-shadow: inset 0px 5px 5px rgba(50,50,50,0.1);
	}	
	#app-head div#app-logo {
		display: inline; 
		float: left;
	}
	#app-head div#app-logo div {
		float: left; 
		cursor: default;
		height: 35px; 
		width: 30px; 
		height: 30px;
		margin: 6px 10px; 
		background-color: #F0F6FF;
	}
	#app-head div#app-logo span {
		cursor: default;
		display: inline-block;
		margin-top: 8px;
		color: #eee;
		font-size: 21px;
		text-shadow: 1px 1px 3px #333;
	}

	#app-head div#app-toolbar {
		position: absolute;
		top: 7px;
		left: 255px;
		right: 25px;
		color: #555;
		white-space: nowrap;
	}	
		
#app-tabs {
	position: absolute;
	top: 38px;
	margin: 4px 0px;
	padding: 0px 0px;
	height: 28px;
	width: 100%;
	// box-shadow: inset 0px 2px 2px #3D505E;
	border-top: 1px solid rgba(255,255,255,0.25);
	background-color: rgba(255,255,255,0.25);
}

#app-header {
	position: absolute;
	z-index: 2;
	left: 0px; 
	top: 70px;
	right: 0px;
	height: 55px;
	padding: 18px 15px 0px 15px;
	font-size: 20px;
	color: #606060;
	text-shadow: 1px 1px 1px #efefef;
	font-family: "Lucida Grande", Arial;	
	background: -webkit-linear-gradient(#EBEBEB, #D2D4D4); 
	border-bottom: 1px solid #999;
	box-shadow: 0px 0px 8px #888;
}

#app-main {
	position: absolute;
	z-index: 1;
	left: 0px; 
	top: 125px;
	right: 0px;
	bottom: 0px;
	font-size: 11px;
	font-family: "Lucida Grande", Arial;	
	background-color: #E7EBF2;
}

/* Overwrite standard toolbar css  */

div#app-toolbar div.w2ui-toolbar table.w2ui-tab1 {
	color: #fff !important;
	text-shadow: 0px 0px 2px #000 !important;
}
div#app-toolbar div.w2ui-toolbar table.w2ui-tab0.over {
	border: 1px solid #666 !important;
	background-color: rgba(255,255,255,0.9) !important;
}
div#app-toolbar div.w2ui-toolbar table.w2ui-tab1.over {
	color: #444 !important;
	text-shadow: 1px 1px 1px #efefef !important;
}
div#app-toolbar div.w2ui-toolbar table.w2ui-tab0.checked {
	border: 1px solid #666 !important;
	background-color: rgba(255,255,255,0.9) !important;
}
div#app-toolbar div.w2ui-toolbar table.w2ui-tab1.checked {
	color: #444 !important;
	text-shadow: 1px 1px 1px #efefef !important;
}

/***********************************
*   -- Common Classes
*/


/***********************************
*   -- Form Fields
*/

.w2ui-label {
	display: inline-block;
	float: left;
	margin-top: 3px;
	padding: 2px;
	width: 120px;
	text-align: right;
	color: #555;
}

.w2ui-field {
	padding: 3px;
	margin-left: 125px;
}

.w2ui-field input[type=text], .w2ui-field input[type=password], .w2ui-field textarea {
	border: 1px solid silver;
	padding: 4px;
	border-radius: 3px;
}

.w2ui-field input[type=text][readonly], .w2ui-field input[type=text][disabled], 
.w2ui-field input[type=password][readonly], .w2ui-field input[type=password][disabled], 
.w2ui-field textarea[readonly], .w2ui-field textarea[disabled] {
	background-color: #efefef;
	color: #666;
}